[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/yindaheng98/diff-gaussian-rasterization
	branch = pixelsplat
[submodule "submodules/dot"]
	path = submodules/dot
	url = https://github.com/yindaheng98/dot
